body {
	background-image: url("/img/background.jpg");
}

.logo {
	margin-left: -63px;
}

#app-navbar-collapse {
	margin-top: -100px;
	margin-right: 250px;
}

.panel {
	margin-left: -175px;
}

.chatContainer {
	margin-left: 500px;
	width: 500px;
}

.chatbox {
	margin-left: 960px;
	margin-top: -687px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.chatbox2 {
	margin-top: -278px;
	margin-left: 950px;
}

.chatbox3 {
	margin-top: -360px;
	margin-left: 950px;
}

iframe {
	height: 600px;
	width: 335px;
	border-radius: .5em;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
}
